[submodule "_apps/api"]
	path = _apps/api
url=https://github.com/sir-gon/desafio-api.git
	branch = master
[submodule "_apps/desafio-php"]
	path = _apps/desafio-php
url=https://github.com/sir-gon/desafio-webapp.git
	branch = master
